<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Unbounded:wght@800;900&display=swap" rel="stylesheet">
 
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <link
       href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap"
       rel="stylesheet"/>
 
     <link
       rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
     <link
       rel="stylesheet"
       href="path/to/font-awesome/css/font-awesome.min.css" />
     <link
       rel="stylesheet"
       href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"/>
     <link
       rel="stylesheet"
       href="path/to/font-awesome/css/font-awesome.min.css"/>
 
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
     <script
       src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
       integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
       crossorigin="anonymous"></script>
     <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
       integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
       crossorigin="anonymous" ></script>
     <link
       href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
       rel="stylesheet"
       integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
       crossorigin="anonymous"/>
     <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
       crossorigin="anonymous" ></script>
 

<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

<!-- SweetAlert2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>







    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments - Hospital Management</title>
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="stylesheet" href="./appointment.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS (Bootstrap and optional theme) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap-theme.min.css">

<!-- JavaScript (jQuery and Popper.js required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>



</head>
<body style="background-color: aliceblue;"> 

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/?pid=<%= pid %>&email=<%= email %>&password=<%= password %>&sname=<%= sname %>&log=1">Back to Home</a></li>
  </nav>



  <div class="container mb-5 jmm" id="container">
		<div class="form-container log-in-container">
			<form action="/book-appointment" method="post">
       
				<h3 class="mb-3"><label for="doctor">Book an Appointment</label></h3>
     
				<h3 class="mb-2 mt-2"><label for="doctor">Select a Doctor</label></h3>
    <select id="doctor" name="doctor">
      <% doctors.forEach(doctor => { %>
        <option value="<%= doctor.Did %>"><%= doctor.Dname %></option>
      <% }); %>
    </select>

   <h3 class="mb-2 mt-4"> <label for="appointmentDate">Select Appointment Date:</label> </h3>
    <input type="date" id="appointmentDate" name="appointmentDate" required>
    <!-- Hidden input field for customer's pid -->
    <input type="hidden" name="customerPid" value="<%= pid %>">
    <button type="submit" class="mt-4">Book Appointment</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
			   <img src="https://img.freepik.com/free-vector/appointment-booking-with-smartphone_23-2148554312.jpg?size=338&ext=jpg" alt="" srcset="" height="400px" width="450px">
				</div>
			</div>
		</div>
    
    
	</div>









  <% if (locals.appointments && appointments.length > 0) { %>
    <h2 class="text-center mt-5 mb-5 hey">My Appointments</h2>
    <div class="row">
      <% appointments.forEach(appointment => { %>
        <div class="col-md-4 mb-4 hei">
          <div class="card">
            <!-- Use dynamic image source based on appointment.Dname -->
            <% const doctorName = appointment.Dname.replace("Dr.", ""); %>
            <img src="./<%= doctorName %>.jpg" class="card-img-top" alt="Doctor Image" style="height: 300px;">
            <div class="card-body">
              <h5 class="card-title text-center"><%= appointment.Dname %></h5>
              <% const dateString = appointment.Date.toDateString(); %>
              <% const words = dateString.split(' ').slice(0, 3).join(' '); %>
              <p class="card-text text-center">Appointment Date: <%= words %></p>
              
              <!-- Add Cancel Appointment Button -->
              <form action="/cancel" method="POST">
                <input type="hidden" name="pid" value="<%= pid %>">
                <input type="hidden" name="Dname" value="<%= appointment.Dname %>">
                <input type="hidden" name="appointmentDate" value="<%= appointment.Date %>">   
                <button type="submit" class="btn btn-danger btn-block text-center">Cancel Appointment</button>
              </form>
              
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  <% } else { %>
  <% } %>
  
  

  


  <title>Responsive Footer</title>
 

    <footer class="footer-distributed" id="Contact">
      <div class="footer-left">
        <h3>Med-X</h3>

        <p class="footer-links">
    
        </p>

        <p class="footer-company-name">© 2023 T Pvt. Ltd.</p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>
            <span>B.M.S College of Engineering</span>
            Basavangudi, Bengaluru - 560019
          </p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 7996457543</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:pratik.is21@bmsce.ac.in">WWW.BMSCE.AC.IN</a>
          </p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
      Med-X is a Chain of Hospitals that allows you to Book an appointment with Doctors
          <br />
        </p>

        
      </div>
    </footer>



 
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="script.js"></script>
</body>
</html>