<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments - Hospital Management</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./appointment.css">
</head>
<body style="background-color: aliceblue;"> 


  <nav>
    <ul>
      
      
      
      <li><a href="/?pid=<%= pid %>&email=<%= email %>&password=<%= password %>&sname=<%= sname %>&log=1">Back to Home</a></li>
    </ul>
  </nav>
  
  <h1>Welcome to the Appointments Page</h1>
  

  <h2>Show My Appointments</h2>
  <ul >
    
  <% if (locals.appointments) { %>
    <% appointments.forEach(appointment => { %>
      <li>Doctor: <%= appointment.Dname %>,  <% const dateString = appointment.Date.toDateString(); %>
        <% const words = dateString.split(' ').slice(0, 3).join(' '); %>
        <p>Appointment Date: <%= words %></p></li>
    <% }); %>

    <% } else { %>
     <h2>No appointments yet</h2>
  <% } %>

  
   

  </ul>
  

  <h2>Book an Appointment</h2>
  <form action="/book-appointment" method="post">
    <label for="doctor">Select a Doctor:</label>
    <select id="doctor" name="doctor">
      <% doctors.forEach(doctor => { %>
        <option value="<%= doctor.Did %>"><%= doctor.Dname %></option>
      <% }); %>
    </select>

    <label for="appointmentDate">Select Appointment Date:</label>
    <input type="date" id="appointmentDate" name="appointmentDate" required>
    
  
    
    
    <!-- Hidden input field for customer's pid -->
    <input type="hidden" name="customerPid" value="<%= pid %>">
    
    <button type="submit">Book Appointment</button>
  </form>


    <script src="script.js"></script>
</body>
</html>